<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Only once</title>
    <style>
        body {
            color: #dddddd;
            background-color: #333333;
            text-align: center;
            font-family: sans-serif;
        }

        div {
            color: #000000;
            background-color: #aaaaaa;
            width: 70%;
            margin: auto;
            border-radius: 25px;
            padding: 1px 25px 1px 25px;
        }

        pre {
            text-align: left;
            font-size: 14px;
        }
    </style>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
